region                         = "us-east-1"
eks_cluster_security_group     = "udacity-proj3-eks-cluster-security-group"
eks_cluster_role               = "udacity-proj3-eks-role"
eks_cluster_name               = "udacity-proj3-eks"
eks_worker_node_security_group = "udacity-proj3-eks-work-node-security-group"
eks_worker_node_role           = "udacity-proj3-eks-worker-node-role"
eks_worker_node_name           = "udacity-proj3-eks-worker-node"
git_repository_url             = "https://github.com/AndyNguyen1010/udacity_project"
github_personal_access_token   = "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"
codebuild-ecr-role             = "uda-proj3-codebuild-ecr-role"
